<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simafe | Ma commande n°_{{showCommande.ref}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/logo_icon.png" />
    <link type="text/css" rel="stylesheet" href="/css/style.css">

</head>

<body>
    {% if (app.user == showCommande.user) or is_granted('ROLE_SELLER') %}

    
        <div class="container ">
            <div class="row my-5 px-3">
                <div class="col-4"> 
                    <h2>SARL SIMAFE</h2>
                    <h5>51, Cité Tebbal</h5>
                    <h5>06000 Béjaia</h5>
                    <h5>ALGERIE</h5>
                </div>
                <div class="col-5">
                    <h2>BON DE COMMANDE</h2>
                    <span class="d-flex "><h5 class="mr-1">Numéro : </h5><h5 class="font-weight-bold">{{showCommande.ref}}</h5></span>
                    <span class="d-flex "><h5 class="mr-1">Date : </h5><h5 class="font-weight-bold">{{showCommande.createdAt|date("d/m/Y")}}</h5></span>
                </div>
                <div class="col-3">
                    <img class="ml-auto" src="/images/logo.png" alt="" width="200">
                </div>
            </div>
            <div class="row my-5 px-3">
                <div class="col-4">
                    <span class="d-flex "><h5 class="font-weight-bold">E-mail :</h5><h5 class="ml-1">infos@simafe.com </h5></span>
                    <span class="d-flex "><h5 class="font-weight-bold">Site web :</h5><h5 class="ml-1">www.simafe.com </h5></span>
                    <span class="d-flex "><h5 class="font-weight-bold">Capital social :</h5><h5 class="ml-1">247 400 000,00 </h5></span>
                </div>
                <div class="col-8">
                    <div class="row justify-content-end px-2">
                        <div>
                            <span class="d-flex "><h5 class="font-weight-bold">Client :</h5><h5 class="ml-1">{{showCommande.user.id}} </h5></span>
                        <h4>{{showCommande.fullName|upper}}</h4>
                        <h5>{{showCommande.user.adress|capitalize}} {{showCommande.user.city|upper}}</h5>
                        <h5>Tél : 0{{showCommande.user.phone|upper}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mx-2 p-2">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Prix TTC</th>
                    <th scope="col">Qté</th>
                    <th scope="col">Montant TTC</th>
                </tr>
            </thead>
             <tbody>
             {% for item in showCommande.carts %}
                <tr>
                    <td>{{item.product.product.category.categoryName}} {{item.product.product.productName}} {{item.product.dimension}}</td>
                    <td>{{item.price|number_format( 2, ',', ' ')}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{(item.price * item.qty)|number_format( 2, ',', ' ')}}</td>
                </tr>
             {% endfor %}
            <tr>
                <td colspan="3"class="text-center"><strong>Total :</strong></td>
                <td> {{total|number_format( 2, ',', ' ')}}</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
            </table>
               
            <div class="row mx-2 py-3">
                <span class="w-100">Arrété le présent document à la somme de :</span>
                <h5 class="my-1">{{chiffreEnLettre|upper}}</h5>    
            </div>
        </div>
  
    {% endif %}


</body>

</html>