{% extends "base.html.twig" %}
{% block body %}
<div class="col-md-12 text-center mb-5 py-3" style="background-color: #efeeea;">
    {% block arbo %}
    {% endblock %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 pr-4 border bg-light">
            <div class="p-2 border-bottom">
                {% if app.user %}
                <h5 class="my-2">{{app.user.firstName}} {{app.user.lastName}}</h5>
                {% endif %}
            </div>
            <div class="p-3">
                <table class="tab">

                    <tr>
                        <td><center><i class="fas fa-cog"></i></center></td>
                        <td>
                            <a href="{{path('dashbord')}}" class="nav-link px-0">
                                Dashbord
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><center><i class="fas fa-user"></i></center></td>
                        <td>
                            <a href="{{path('user')}}" class="nav-link px-0">
                                Utilisateurs
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><center><i class="fas fa-store"></i></center></td>
                        <td>
                            <a href="{{path('job')}}" class="nav-link px-0">
                                Métiers
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><center><i class="fas fa-list"></i></center></td>
                        <td>
                            <a href="{{path('category')}}" class="nav-link px-0">
                                Catégories
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><center><i class="fas fa-shopping-cart"></i></center></td>
                        <td>
                            <a href="{{path('product')}}" class="nav-link px-0">
                                Produits
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><center><i class="far fa-images"></i></center></td>
                        <td>
                            <a href="{{path('slider')}}" class="nav-link px-0">
                                Slider
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><center><i class="fas fa-camera-retro"></i></center></td>
                        <td>
                            <a href="#" class="nav-link px-0">
                                Réalisations
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><center><i class="fas fa-envelope-open-text"></i></center></td>
                        <td>
                            <a href="{{path('newsletter')}}" class="nav-link px-0">
                                Newsletter
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            {% for label,messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
                {{message|raw}}
                <button type="button " class="close " data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endfor %}
            {% block mbody %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}