<div class="border shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light  pb-0 px-0">
            <a class="navbar-brand mr-auto" href="{{path('home_page')}}"><img src="/images/logo.png" alt="logo"></a>
            {% if app.user %}
            <a class="nav-link p-1" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i> <span style="font-size: 15px;"class="d-none d-lg-inline">Déconnexion</span></a>
            {% else %}
                <a class="nav-link p-1" href="{{path('login')}}"><i class="fas fa-user"></i> <span style="font-size: 15px;" class="d-none d-lg-inline">Mon compte</span></a>
            {% endif %}
            <a class="nav-link p-1" href="#"><i class="fas fa-shopping-cart"></i> <span style="font-size: 15px;"class="d-none d-lg-inline"> Panier(0)</span></a>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light px-0">

            <div class="border-bottom border-dark d-flex ">
                <a class="nav-link p-1" href="#"><i class="fas fa-search"></i></a>
                <input type="search" name="search" id="search-bar" placeholder="Recherche">
            </div>
            
            <button class=" ml-auto navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        {% if app.user %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item border-bottom">Bonjour {{app.user.firstName}}</span>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item d-flex" href="{{path('dashbord')}}"><div style="width: 25px;"><i class="fas fa-cog"></i></div> Dashbord</a>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                            <a class="dropdown-item d-flex" href="#"><div style="width: 25px;"><i class="fas fa-shopping-cart"></i></div> Commandes</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('home_page')}}">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nos produits
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in header.categorys %}
                            <a class="dropdown-item" href=" {{ path('categoryproduct',{'slug': category.slug}) }} ">{{category.categoryName}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nos réalisations
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for job in header.jobs %}
                            <a class="dropdown-item" href=" # ">Agencements pour {{job.jobName|upper}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>